    <!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
          xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Registration Page</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    </head>
    <body>
    <main>
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">

    <form th:action="@{/registration}" enctype="multipart/form-data" method="post" th:object="${user}">
        <div class="form-floating">
            <h5>NickName</h5>
            <input th:value="${name}" type="text" required name="name" id="floatingInput" placeholder="name">
        </div>

        <div class="form-floating">
            <h5>PhoneNumber</h5>
            <input th:value="${phoneNumber}" type="number" required name="phoneNumber" id="floatingInput" placeholder="phoneNumber">
        </div>

        <div class="form-floating">
            <h5>Email</h5>
            <input th:value="${email}" type="email" required name="email" id="floatingInput" placeholder="email">
        </div>

        <div class="form-floating">
            <h5>Password</h5>
            <input th:value="${password}" type="password" required name="password" id="floatingInput" placeholder="password">
        </div>

        <div class="form-floating">
            <h5>Requisite</h5>
            <input th:value="${requisite}" type="text"  name="requisite" id="floatingInput" placeholder="requisite">
        </div>

        <div class="form-floating">
            <h5>Profile Photo</h5>
            <input  th:value="${profilePhoto}" type="text"  name="profilePhoto">
        </div>
        <br>
        <button class="w-20 btn btn-lg btn-dark" type="submit" value="Create Account">Create Account</button>
    </form>
    </div>
        </div>
        </div>
        </section>
    </main>
    </body>
    </html>
