<div th:fragment="header" xmlns:sec="http://www.w3.org/1999/xhtml">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/main">Главная страница</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Новости</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active"  aria-current="page" href="/myProfile">[[${#httpServletRequest.remoteUser}]]</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="">Про нас</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                <div align="justify">
                <form th:action="@{/logout}" method="post">
                    <button class="btn btn-outline-success" type="submit">Sign Out</button>
                </form>
                </div>
            </div>
        </div>
    </nav>
    </div>